*, 
*:after, 
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Header */
nav{
    display: flex;
    padding: 1% 2%;
    background-color: #009879;
    justify-content: space-between;
    align-items: center;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #36f44f;
    display: block;
    margin: auto;
    transition: 0.1s;
  }

  .nav-links ul li:hover::after{
    width: 100%;
  }

    nav img{
        width: 120px
    }

/*---------------------------Add Schedule----------------------------- */
.A_S_title{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 100px;
    padding-top: 100px;
    background-color:#6f9697;
    padding: 12px 0;
    font-size: 13px;
    }
    
    .A_S_title h1{
    color: rgb(44, 25, 150);
    text-align: center;
    vertical-align: center;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    }
    .schedules-form {
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .form-control{
      width: 50%;
      width: 600px;
      background-color: darkgrey;
      border: none;
      outline: none;
      border-top: 1px solid gray;
      color: #fff;
      font-size: 40px;
      font-weight:inherit;
      margin-bottom: 16px;
      }
      
      .formButton_S {
      text-align: center;
      }
      .submit_S {
      display: block;
      background-color: darkgray;
      position: relative;
      font-size: 30px;
      padding: 12px 34px;
      top: 28%;
      margin: auto;
      }
      /*Hover on the submit button */
      .submit_S {
      transition-duration: 0.4s;
      }
      
      .submit_S:hover {
      background-color: #e92949; 
      color: white;
      }
    



    /* Table styling */
    .tablestyle th:hover,
    .tablestyle td:hover
    {
        color: violet;
    }
    .tablestyle {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
    }

    .tablestyle thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .tablestyle th,
    .tablestyle td {
        padding: 20px 70px;
    }

    .tablestyle tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .tablestyle tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .stablestyle tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    /* Error page */
    .error{
        color: red;
        font-size: 50px;
        padding: 10px;
        text-align: center;
        padding-top: 130pt;
        animation:blinking 0.7s infinite;
            }
/* Makes error message blink */
@keyframes blinking{
    0%{   color: red;   }
    47%{   color: red; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: red;   }
    }

     /* Footer */

     .footer{
        position: fixed;
         padding: 0px 0px 0px 0px;
         bottom: 0;
         width: 100%;
 }

 .footer nav{
     display: flex;
     padding: 1% 2%;
     background-color:#009879;
     justify-content: space-between;
     }
  .footer nav img{
         width: 50px
     }
 
   .footer-text p{
     color: white;
   }

   .footer-text p{
     color: white;
   }
 
 .nav p{
     text-align: center;
 }
 

/* Footer images */
   .linkedin{
     width: 50px
   }
   
   .twitter{
     width: 50px
   }
   
   .facebook{
     width: 50px
   }
   
  