<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!--header-->
    <%- include('../partials/header') %>
     <main>
         <section> 
            <div class="Err_title">
              <h1> ERROR </h1>
            </section>
              <section>
              <div class="Err_Message">
              <h2><b><%= message %></b></h2>
            </div>
            </div>
          </section>

     </main>


    <!--footer-->
    <%- include('../partials/footer') %>
</body>

</html>