<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
  </head>
    <%- include('../partials/header') %>
<body>
    <% if(message) { %>
        <div class = "row errormsg"><%= message %></div>
        <%}%>
    <form action= "/login" method = "POST">
        <div class="row">
			<div class="col-25">
				<label for="email">Email *</label>
				</div>
				<div class="col-75">
				<input id="email" type="email" name="email" required placeholder="Enter your email Id" />
	  		</div>
			  </div>
	  		<div class="row">
				<div class="col-25">
				<label for="password">Password *</label>
			</div>
			<div class="col-75">
				<input id="password" type="password" name="password" required placeholder="password" />  
			</div>
			</div>
			<div class="row">                                   
				<input align="left" type="submit" class="submit" value="Login"></input>
		  </div>
    </form>
	<H3>Not registered? <a href="/signup">Register here!</a></H3>
</body>
<%- include('../partials/footer') %>
</html>

<!-- push -->