<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGN UP</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
</head>
  <%- include('../partials/header') %>
<body>
  <H1 align=center> PLEASE SIGN UP HERE </H1><br><br>
  <% if (message) { %>
    <div><%= message %></div>
  <% } %>   
   <main>
	<div class="container">
    <form action="/signup" method="POST">
		<div class="row">
			<div class="col-25">            
				<label for="firstname">First Name *</label>
				</div>
				<div class = "col-75">
				<input id="firstname" type="text" name="firstname" required placeholder="First Name.." />				
			</div>
		</div>
			<div class="row">
				<div class="col-25">
				<label for="lastname">Last Name *</label>
				</div>
				<div class="col-75">
				<input id="lastname" type="text" name="lastname" required placeholder= "Last Name" />
		  </div>
		  </div>
		  <div class="row">
			  <div class="col-25">
				<label for="email">Email *</label>
				</div>
				<div class="col-75">
				<input id="email" type="email" name="email" required placeholder= "Enter your email Id" />
	  		</div>
			  </div>
	  		<div class="row">
				<div class="col-25">
				<label for="password">Password *</label>
			</div>
			<div class="col-75">
				<input id="password" type="password" name="password" required placeholder="password" />  
			</div>
			</div>
			<div class="row">                           
				<input type="submit" class="button" value="Create Account"></input>
		  </div>
		</form>
		</div>
		<H3>Already registered?<a href="/login">Login here!</a></H3>
   </main>
</body>
<%- include('../partials/footer') %>
</html>




